{% extends "base.html" %}
{% block js %}
    <script src="/static/js/index.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5 align-items-center">
            <div class="col-3">
            </div>
            <div class="col-6">
                <label for="url_to_short" class="form-label">Enter url:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">https://</span>
                    <input type="text" class="form-control" id="url_to_short" name="url_to_short"
                           aria-describedby="basic-addon3">
                </div>
                <div class="col text-center">
                    <button onclick="short_url(document.getElementById('url_to_short').value)"
                            class="btn btn-primary">Make Short
                    </button>
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row mt-5"><input type="text" class="form-control" id="short-url" name="short"
                                     aria-describedby="basic-addon3">
        </div>
    </div>
{% endblock %}